<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>enchere-eni-java</display-name>
  <welcome-file-list>
    <welcome-file>AccueilServlet</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>GestionUtilisateurServlet</display-name>
    <servlet-name>GestionUtilisateurServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.admin.GestionUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUtilisateurServlet</servlet-name>
    <url-pattern>/GestionUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionCategorieServlet</display-name>
    <servlet-name>GestionCategorieServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.admin.GestionCategorieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCategorieServlet</servlet-name>
    <url-pattern>/GestionCategorieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProfilServlet</display-name>
    <servlet-name>ModifyProfilServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.profil.ModifyProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProfilServlet</servlet-name>
    <url-pattern>/ModifyProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenteArticleServlet</display-name>
    <servlet-name>VenteArticleServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.article.VenteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenteArticleServlet</servlet-name>
    <url-pattern>/VenteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerEnchereServlet</display-name>
    <servlet-name>CreerEnchereServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.enchere.CreerEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerEnchereServlet</servlet-name>
    <url-pattern>/CreerEnchereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaireEnchereServlet</display-name>
    <servlet-name>FaireEnchereServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.enchere.FaireEnchereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaireEnchereServlet</servlet-name>
    <url-pattern>/FaireEnchereServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EnchereFilter</display-name>
    <filter-name>EnchereFilter</filter-name>
    <filter-class>fr.eni.enchere.ihm.filter.EnchereFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnchereFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MesEncheresRemporteesServlet</display-name>
    <servlet-name>MesEncheresRemporteesServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.enchere.MesEncheresRemporteesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesEncheresRemporteesServlet</servlet-name>
    <url-pattern>/MesEncheresRemporteesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.forgotpassword.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>